<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<div class="container">
  <h2>Dynamic Tabs</h2>
  <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a
    unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Company</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h1>Student Details</h1>
      <table class="table table-hover">
        <thread>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">USN</th>
            <th scope="col">CGPA</th>
            <th scope="col">Branch Code</th>
            <th scope="col">Batch</th>
          </tr>
        </thread>
        <% if(students.length > 0){ %>
        <% for(var i = 0 ;i<students.length;i++){ %>
        <tbody>
          <tr>
            <th><%- students[i].Name %> </th>
            <th><%- students[i].USN %> </th>
            <th><%- students[i].CGPA %> </th>
            <th><%- students[i].Branch_code %> </th>
            <th><%- students[i].Batch %> </th>
          </tr>
        </tbody>
        <% } %>
        <% }else{ %>
        <h1>No Student Data Found</h1>
        <% } %>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h1>Company Details</h1>
      <table class="table table-hover">
        <thread>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Criteria</th>
            <th scope="col">Salary</th>
            <th scope="col">Deadline</th>
          </tr>
        </thread>
        <% if(company.length > 0){ %>
        <% for(var i = 0 ;i<company.length;i++){ %>
        <tbody>
          <tr>
            <th><%- company[i].CMP_Name %> </th>
            <th><%- company[i].Role %> </th>
            <th><%- company[i].Criteria %> </th>
            <th><%- company[i]. Salary%> </th>
            <th><%- company[i].App_deadline %> </th>
          </tr>
        </tbody>
        <% } %>
        <% }else{ %>
        <h1>No Company Data Found</h1>
        <% } %>
    </div>
  </div>
</div>

<body>

</body>

</html>