<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Page</title>
</head>
<style>
  #delete-btn {
    text-decoration: none;
    color: aliceblue;
  }
</style>

<div class="container">
  <h1>Admin Page</h1>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">

      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/admin-query">Query</a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Students</a></li>
    <li><a data-toggle="tab" href="#menu1">Applications</a></li>
    <li><a data-toggle="tab" href="#menu2">Company</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h1>Student Details</h1>
      <table class="table table-hover">
        <thread>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">USN</th>
            <th scope="col">CGPA</th>
            <th scope="col">Branch Code</th>
            <th scope="col">Batch</th>
            <th scope="col"> Action</th>
          </tr>
        </thread>
        <% if(students.length > 0){ %>
        <% for(var i = 0 ;i<students.length;i++){ %>
        <tbody>
          <tr>
            <th><%- students[i].Name %> </th>
            <th><%- students[i].USN %> </th>
            <th><%- students[i].CGPA %> </th>
            <th><%- students[i].Branch_code %> </th>
            <th><%- students[i].Batch %> </th>
            <th>
              <button class="btn btn-danger">
                <a id="delete-btn" href="/delete-student?id=<%- students[i].Stu_id %>">Delete </a>
              </button>
            </th>
          </tr>
        </tbody>
        <% } %>
        <% }else{ %>
        <h1>No Student Data Found</h1>
        <% } %>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h1>Application Details</h1>
      <table class="table table-hover">
        <thread>
          <tr>
            <th scope="col">USN</th>
            <th scope="col">Company Name</th>
            <th scope="col">Status</th>
          </tr>
        </thread>
        <% if(applications.length > 0){ %>
        <% for(var i = 0 ;i<applications.length;i++){ %>
        <tbody>
          <tr>
            <th><%- applications[i].USN %> </th>
            <th><%- applications[i].CMP_Name %> </th>
            <th><%- applications[i].Status %> </th>
          </tr>
        </tbody>
        <% } %>
        <% }else{ %>
        <h1>No Applications Found</h1>
        <% } %>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h1>Company Details</h1>
      <table class="table table-hover">
        <thread>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Criteria</th>
            <th scope="col">Salary</th>
            <th scope="col">Deadline</th>
            <th scope="col">Action</th>
          </tr>
        </thread>
        <% if(company.length > 0){ %>
        <% for(var i = 0 ;i<company.length;i++){ %>
        <tbody>
          <tr>
            <th><%- company[i].CMP_Name %> </th>
            <th><%- company[i].Role %> </th>
            <th><%- company[i].Criteria %> </th>
            <th><%- company[i]. Salary%> </th>
            <th><%- company[i].App_deadline %> </th>
            <th>
              <button class="btn btn-primary">
                <a id="delete-btn" href="/update-company?CMP_id=<%- company[i].CMP_Id %>">Update</a>
              </button>
            </th>
          </tr>
        </tbody>
        <% } %>
        <% }else{ %>
        <h1>No Company Data Found</h1>
        <% } %>
    </div>
  </div>
</div>

<body>

</body>

</html>