<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="" method="post">
            <br>
            <br>
            <br>
            <h2>Update Company Details
            </h2>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="cmpName" class="form-control" placeholder="<%= values[0]  %> ">
                    </div>
                </div>
                <!--  col-md-6   -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Role</label>
                        <input type="text" name="role" class="form-control" placeholder="<%= values[1]  %>">
                    </div>
                </div>
                <!--  col-md-6   -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Criteria</label>
                        <input type="text" name="criteria" class="form-control" placeholder="<%= values[2]  %>">
                    </div>
                </div>
                <!--  col-md-6   -->
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Application Deadline</label>
                        <input name="app_deadline" class="form-control" placeholder="<%= values[4]  %>">
                    </div>
                </div>
                <!--  col-md-6   -->
            </div>
            <!--  row   -->
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" id="form3Example3c" class="form-control" name="Description"
                            autocomplete="off" name="description" required></textarea>


                    </div>
                </div>
                <!--  col-md-6   -->
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Salray</label>
                            <input name="salary" type="text" class="form-control" placeholder="<%= values[3]  %>">
                        </div>
                    </div>
                    <!--  col-md-6   -->
                </div>
                <br>
                <br>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <!--  row   -->
        </form>
    </div>
</body>

</html>